.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e1ef;
  flex: 1;
}

.burger-builder {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 40px;
}

ul.ingredients_items {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ingredients_items {
  list-style-type: none;
  padding: 0;
}

.ingredients_items li {
  margin-bottom: 10px;
}

.burger-preview {
  flex: 1;
  max-height: 350px;
  overflow: auto;
  width: 100%;
  margin-bottom: 40px;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger__bun {
  width: 240px;
}

.burger__bun-image {
  width: 100%;
  height: auto;
}

.burger__ingredient {
  position: relative;
  margin: -5px;
}

.burger__ingredient-image {
  width: 200px;
  cursor: pointer;
}

.burger__ingredient-name {
  margin-top: 5px;
}

.clear-all-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  transition: 0.3s;
}

.clear-all-button:hover {
  background-color: #e53935;
}

.burger-builder__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.clear-all-button:disabled {
  background-color: #ccc;
  color: #aaa;
  cursor: not-allowed;
}
