.header {
  background-color: rgb(255, 255, 255);
  padding: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 10px;
}

.logout-button {
  cursor: pointer;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-title svg{
  color:red;
  width:35px;
  height:35px;
}

.header-title h1{
  font-size:25px;
}
